/* Nav Styles */

.nav-bar{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 500;
    padding:1rem;
    transition: ease-in-out 0.3s;
}
.nav-bar.sticky{
    background: var(--clr-white);
    box-shadow: 0 0 20px rgba(48,63,100,0.2);
}
.nav-bar.sticky .navbar-toggler span ,
.nav-bar.sticky .nav-logo{
    color: var(--font-colour-primary);
}
.navbar-toggler span{
    font-size: var(--size-20);
    cursor: pointer;
    pointer-events: none;
}
[aria-controls="navbarDropdown"]{
    display: none;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul {
    display: flex;
    align-items: center;
}
.nav-bar ul .btn {
  margin-bottom: 0;
}
.nav-logo{
    display: flex;
    transition: ease-in-out 0.3s;
    align-items: flex-start;
}
.nav-logo img{
    width: var(--size-150);
}
.nav-links{
    display: flex;
}

.nav-links > a{
    margin: 0 var(--size-30);
    flex-shrink: 0;
}
.nav-link a{
    color: var(--font-colour-primary);
    font-size: 0.8125rem;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.25rem;
}


/* Hero Section*/
.bg-header{
    position: relative;
    background-color:#ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(118deg, rgba(217, 217, 217, 0.40) 20%, rgba(217, 217, 217, 0) 55% ,rgba(217, 217, 217, 0) 76%, rgba(225, 231, 239,0.8) 76%);
    padding: 4.68rem 0;
    left: 0;
    right: 0;
}
.bg-header::after{
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 18%;
    background: linear-gradient(to bottom right, rgba(0,50,0,0.0) 20%,rgba(0,0,10,0.0) 50%, white 50%);
    left: 0;
    right: 0;}

.hero{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    margin: 0 auto;

}
.hero-text{
    max-width: 350px;
    margin: 2rem auto;
    text-align: left;
}
.hero-text .card-link{
    margin-left:var(--size-10) ;
    font-weight: 600;
    color: var(--clr-primary);
}
.hero-text h1{
    font-size: var(--size-40);
    font-weight: 500;
    color: var(--clr-black);
}
.hero-text > .btn{
    margin-top:2rem;
}
.hero-icon-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.icon-circles{position: relative;}
.ic-1{
    left:var(--size-50);
    bottom: var(--size-30)
}
.ic-2{bottom: var(--size-30);}
.ic-3{bottom: var(--size-30);}
.ic-4{left:var(--size-30);}




/* Key Benefits Section*/

.benefits-section{margin: var(--size-100) auto;}

.benefit-cards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: var(--size-26);
    margin: 3rem ;
    align-items: flex-start;
}
.benefit-card{
    padding: var(--size-30);
    box-shadow: 0 0 10px rgba(48,63,100,0.15);
    background-color: white;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}
.benefit-card:hover{
    transform: scale(1.125);
}
.benefit-card  img {
    width: var(--size-50);
    height: var(--size-50);
    align-self: self-start;
}
.benefit-card .card-header {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: black;
}
.benefit-card .card-link{font-weight: 600;}

/* Different Perspective Styles */

.diff-perspective {
    padding: var(--size-150);
    background-color:  #F8FAFE;
}
.diff-perspective .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-items:center;
    align-items: center;
    color: black;
}
.diff-perspective h1{font-size: var(--size-40);}


/* Why Front Section*/

.why-front{padding: var(--size-100) 0;}
.why-front-header{margin-bottom: var(--size-100);}
.dots-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    gap: 40px;
}
.dot-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
}
.dot-wrapper .dot {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--clr-dots);
    color: var(--clr-primary);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dot-wrapper .dot::before,
.dot-wrapper .dot::after {
    display: block;
    position:relative;
    content:'';
    height: 1px;
    font-weight: 100;
    width: 155px;
    background: #eee;
    align-self: center;
    flex-shrink: 0;
}
.dot-wrapper .dot::before{
    right: var(--size-20);
}
.dot-wrapper .dot::after{
    left: var(--size-20);
}
.dot-wrapper .dot.first-dot::before{
   left:12.5rem;
}
.dot-wrapper .dot.last-dot::after{
   left:-12.5rem;
}
.banner-wrapper{
    position: relative;
    margin: var(--size-100) auto;
}
.video-btn{
    position: absolute;
    top:50%;
    color: white;
    background-color: black;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 var(--size-10) var(--size-20) rgba(24, 24, 24, 0.2);
    border-radius: 70%;
}
/* Testimonial Section*/

.testimonial-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 90px;
}
.testimonial-img{
    margin: var(--size-60) auto;
    width: 50%;
}
.background-image{
    position: relative;
    background-image: url("/saas-project-assets/abstract/dots.svg");
    background-repeat: no-repeat;
    bottom: 75%;
    right: 15%;
    width: 100%;
    z-index: -1;
    height: 88%;
}
.testimonial-text{
    display: flex;
    flex-direction: column;
    gap: var(--size-30);
    text-align: left;
    align-content: start;
    justify-content: start;
    padding-left: var(--size-20);
}
.testimonial-text img{
    margin-top: var(--size-100);
    height: var(--size-50);
    width: var(--size-100);
}
.testimonial-copy {
    margin-bottom: var(--size-30);
    line-height: var(--size-40);
    font-size: var(--size-26);
    color: black;
}
.testimonial-text h5{
    font-weight: 700;
    font-size: var(--size-20);
    color: black;
}
.testimonial-text h6 {
    font-weight: 700;
    font-size: var(--size-14) ;
    margin-top:-1.75rem;
    margin-left: 0.125rem;
}
.trusted-by-wrapper{
    margin-top: var(--size-80);
    justify-self: center;
    width: 100%;
    grid-column: 1 /3;
    grid-row: 2/2;
}
.trusted-by-wrapper h3{
    font-size: var(--size-26);
    text-transform: uppercase;
    text-align: center;
}
.logo-wrapper{
    margin-top: var(--size-80);
    height: 30%;
    display: flex;
}
/* Pricing Section Styles*/

.pricing-section{padding: var(--size-40);}
.pricing-wrapper{
    display: grid;
    width: 65%;
    margin: 0 auto;
    grid-template-columns: 1.75fr 1fr 1fr;
    grid-gap: var(--size-40);
}
.pricing-header{
    text-align: center;
    margin: var(--size-80) auto;
}
.pricing-header h2{
    font-size: var(--size-26);
    color: black;
    font-weight: 700;
    line-height: var(--size-30);
}
.pricing-header p{
    font-size: var(--size-18);
    line-height: var(--size-20);
}
.pricing-card{
    display: grid;
    align-items: center;
    grid-column: 1;
    grid-row: 1/3;
    grid-gap: var(--size-80);
}
.card-text{
    display: flex;
    flex-direction: column;
    gap:var(--size-26)
}
.card-text h1{
    font-size: var(--size-60);
    color: black;
}
.card-text p{
    font-size: var(--size-16);
    text-align: center;
    color: var(--font-colour-primary);
    line-height: var(--size-26);
}
.card-text small{
    font-size: var(--size-20);
    color: gray;
}
.pricing-card .btn{width: 45%;}
.pricing-feature{
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
}
.pricing-feature img{
    width: 25%;
}
.pricing-feature h3{
    color: black;
    font-size: var(--size-18);
}
/* Contact Area Text Styles*/

.contact-area{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.contact-area-text {
    color: white;
    width: 80%;
}

.contact-area-text h1{font-size: var(--size-26);margin-top: var(--size-40)}
.contact-area-text h5,.contact-area-text p{font-size: var(--size-18)}
.contact-area-text h4,
.contact-area-text h6{
    font-size: var(--size-16);
    color: var(--font-colour-primary);
}
.contact-area-text hr{
    color: white;
    width: 40%;
    margin: var(--size-26) 0;
}
.contact-area-text p{
    font-style: italic;
    margin-bottom: var(--size-30);
}

    /* Contact Form Styles*/
.form-header{
    grid-column: 1/3;
    font-weight: 700;
    line-height: var(--size-26);
    color: black;
    font-size: var(--size-16);
}
.contact-area-form form{
    padding: var(--size-50);
    border-radius: var(--size-18);
    background-color: #fff;
    display: grid;
    grid-template-columns:  repeat(2,1fr);
}
.contact-area-form textarea{
    margin-top: var(--size-26);
    grid-column: 1/3;
}
.contact-area-form fieldset{
    border: none;
    grid-row: 6;
    grid-column: 1/3;
    display: flex;
}
.contact-area-form input,
.contact-area-form select,
.contact-area-form fieldset{
    margin:  var(--size-10);
    padding: var(--size-10);
}
.contact-area-form input.btn{
    grid-column: 1/3;
    width: 25%;
   justify-self: center;
}
.contact-area-form a{text-decoration: 1px underline dashed ;
}
/* Footer Section*/
footer
{ padding: var(--size-100);}

.footer-top{
    display: flex;
    align-items: start;
    gap: 40px;
    justify-content: space-between;
}
.footer-top h1{
    color: black;
}
.footer-top .col *{margin-bottom: var(--size-20);}
.footer-top a{
    color: var(--font-colour-primary);
    font-size: var(--size-16);
}
.footer-top a:hover{
    color: var(--clr-primary);
    font-weight: 700;
}

.footer-top img{
    height: var(--size-30);
    width: auto;
}
.footer-bot {
    display: flex;
    justify-content: space-between;
    padding-top: var(--size-40) ;
}
.icon-boxes{
    display: flex;
    gap: var(--size-30);
    align-items: center;
}
.icon-box:hover{
    background-color: #677788;
    color: white;
}
.icon-boxes select{
    font-size: var(--size-16);
    padding: var(--size-10) var(--size-16);
}
.footer-copyright{
    width: 50%;
    margin: var(--size-40) auto 0;
    text-align: center;
}
.footer-copyright p {
    margin-bottom: var(--size-40);
}

